<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <meta name="google-site-verification" content="ejPw926wzuZpd4-kpjzuow_sWztfdTtsiLoPZh1OZOs">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/ContentScript/jquery")
    @Scripts.Render("~/ContentScript/angularJS")
    @Styles.Render("~/ContentLess/Clarabridge")
    @Styles.Render("~/ContentLess/angularJS")
    @Styles.Render("~/ContentLess/indexLess")
    @Styles.Render("~/Fonts/MontserratLess")
</head>

<body class="home page page-id-5 page-template page-template-page-templates page-template-page-home page-template-page-templatespage-home-php">
    <header class="global">
        <div class="header-content">
            <a href="/" id="logo">
                <img class="graphic" src="http://www.clarabridge.com/wp-content/themes/clarabridge/images/logo.svg" alt="Clarabridge">
                <img class="text white" style="width:190px; height:16px;" src="http://www.clarabridge.com/wp-content/themes/clarabridge/images/logo_text.svg" alt="Clarabridge">
            </a>
            <div class="content">
                <p>Clarabridge was named a Leader in the Forrester Text Analytics Wave! <strong>Learn More</strong></p>
            </div>
        </div>
    </header>
    <div class="clearfix"></div>
        @RenderBody()
    <footer class="global cb-primary-3">
        <div class="clearfix">
            <div class="footer_logo_container sm-col sm-col-12 mb3">
                <img style="" src="http://www.clarabridge.com/wp-content/themes/clarabridge/images/logo_footer.svg" alt="Clarabridge">
            </div>

            <nav class="sitemap mt3 mb3">
                <ul id="menu-sitemap" class="menu">
                    <li id="menu-item-88" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-88">
                        <a href="#">Column</a>
                        <ul class="sub-menu">
                            <li id="menu-item-99" class="header dictionary menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-99">
                                <a href="/dictionary/">Customer Experience Dictionary</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-19295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19295"><a href="http://www.clarabridge.com/dictionary-customer-engagement/">Customer Engagement</a></li>
                                    <li id="menu-item-7509" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7509"><a href="http://www.clarabridge.com/customer-experience-management/">Customer Experience Management</a></li>
                                    <li id="menu-item-12007" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12007"><a href="http://www.clarabridge.com/nlp-natural-language-processing/">Natural Language Processing</a></li>
                                    <li id="menu-item-7513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7513"><a href="http://www.clarabridge.com/net-promoter-score/">Net Promoter Score</a></li>
                                    <li id="menu-item-19293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19293"><a href="http://www.clarabridge.com/dictionary-omni-channel/">Omni-Channel</a></li>
                                    <li id="menu-item-7511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7511"><a href="http://www.clarabridge.com/predictive-analytics/">Predictive Analytics</a></li>
                                    <li id="menu-item-7514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7514"><a href="http://www.clarabridge.com/sentiment-analysis/">Sentiment Analysis</a></li>
                                    <li id="menu-item-19294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19294"><a href="http://www.clarabridge.com/dictionary-social-engagement/">Social Engagement</a></li>
                                    <li id="menu-item-7507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7507"><a href="http://www.clarabridge.com/social-listening/">Social Listening</a></li>
                                    <li id="menu-item-7508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7508"><a href="http://www.clarabridge.com/speech-analytics/">Speech Analytics</a></li>
                                    <li id="menu-item-7512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7512"><a href="http://www.clarabridge.com/survey-analysis/">Surveys</a></li>
                                    <li id="menu-item-7506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7506"><a href="http://www.clarabridge.com/text-analytics/">Text Analytics</a></li>
                                    <li id="menu-item-7510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7510"><a href="http://www.clarabridge.com/voice-of-the-customer/">Voice of the Customer</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-87" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-87">
                        <a href="#">Column</a>
                        <ul class="sub-menu">
                            <li id="menu-item-92" class="header menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-92">
                                <a>Explore</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="http://www.clarabridge.com/product/">Product</a></li>
                                    <li id="menu-item-17469" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17469"><a href="http://www.engagor.com/">Engagor</a></li>
                                    <li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="http://www.clarabridge.com/customers/">Customers</a></li>
                                    <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="http://www.clarabridge.com/learn/">Resources</a></li>
                                    <li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-98"><a href="/events/">Events</a></li>
                                    <li id="menu-item-96" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-96"><a href="http://www.clarabridge.com/services/">Services</a></li>
                                    <li id="menu-item-8466" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8466"><a href="http://www.clarabridge.com/company/partners/">Partners</a></li>
                                    <li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="http://www.clarabridge.com/company/">Company</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-90" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-90">
                        <a href="#">Column</a>
                        <ul class="sub-menu">
                            <li id="menu-item-102" class="header menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-102">
                                <a>Connect</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-8388" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8388"><a href="/contact">Contact Us</a></li>
                                    <li id="menu-item-103" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-103"><a href="tel:8667615661">Sales – 866.761.5661</a></li>
                                    <li id="menu-item-8389" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8389"><a href="tel:571.299.1803">Support – 571.299.1803</a></li>
                                    <li id="menu-item-8390" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8390"><a href="/blog">Blog</a></li>
                                    <li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105"><a href="http://beclarabridge.com" target="_blank">Careers – BeClarabridge</a></li>
                                    <li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-113"><a href="http://clarabridge.com/contact">Offices</a></li>
                                    <li id="menu-item-12008" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12008"><a href="http://clarabridgec3.com">C3: The CX Event of the Year</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="sm-col sm-col-12 bg-gray-2">
                <nav class="social">
                    <h4>Stay Connected</h4>
                    <ul id="menu-social-icons-1" class="menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-83"><a href="http://www.linkedin.com/company/clarabridge" >LinkedIn</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82"><a href="https://twitter.com/clarabridge">Twitter</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-85"><a href="https://www.facebook.com/Clarabridge">Facebook</a></li>
                        <li class="footer menu-item menu-item-type-custom menu-item-object-custom menu-item-86"><a href="https://plus.google.com/116088172657762508689/#" >Google+</a></li>
                        <li class="footer menu-item menu-item-type-custom menu-item-object-custom menu-item-84"><a href="/feed/">RSS</a></li>
                    </ul>
                </nav>
            </div>

            <div class="sm-col sm-col-12 bg-gray-1">
                <div class="credits">
                    <nav class="footer">
                        <!-- TEST -->
                        <ul id="menu-footer-links" class="menu">
                            <li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="http://www.clarabridge.com/privacy-policy/">Privacy Policy</a></li>
                            <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://www.clarabridge.com/terms-of-use/">Terms of Use</a></li>
                            <li id="menu-item-14000" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14000"><a href="http://www.clarabridge.com/finance/">Finance</a></li>
                        </ul>
                    </nav>
                    <p class="ml2 inline-block">
                        ©2016 Clarabridge<sup>®</sup>.  All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>